html {
  height: 100%;
  background: url("facebook-fb-altern22ate.jpg") center no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  justify-content: flex-end;
}
.hide {
  display: none;
  justify-content: flex-end;
  color: aqua;
  text-align: center;
  white-space: nowrap;
}

.login {
  padding: 50px;
  width: 400px;
  background: white;
  height: 200px;
  box-shadow: 0 0 0 10px rgb(0 0 0 / 10%);
  text-align: center;
  border-radius: 50px;
}

.loginText {
  padding: 10px 0;
}

button {
  background-color: rgb(0, 99, 247);
  font-size: 1.5em;
  cursor: pointer;
  color: white;
}

::placeholder {
  font-size: 1.5em;
}

.todos {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  padding: 20px;
  background: rgba(234, 238, 172, 0.95);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h2 {
  text-align: center;
  margin: 0;
  font-weight: 200;
}
.todoslist {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}
.todoslist li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
}

.todoslist label {
  flex: 1;
  cursor: pointer;
}

.todoslist input {
  display: none;
}

.todoslist input + label:before {
  content: "⬜️";
  margin-right: 10px;
}

.todoslist input:checked + label:before {
  content: "✅";
}

.new-todos {
  margin-top: 20px;
}

.new-todos input {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
