:root,
html[data-theme="light"] {
  --background-color-container: rgb(53, 54, 58);
  --background-color: #fff;
  --text-color: rgb(53, 54, 58);
  --text-color-accent: #fff;
  --border-color: #b4b4b4;
  --border-color-hover: #b8b8b8;
}

html[data-theme="dark"] {
  --background-color-container: #fff;
  --background-color: rgb(53, 54, 58);
  --text-color: #fff;
  --text-color-accent: rgb(53, 54, 58);
  --border-color: rgb(53, 54, 58);
  --border-color-hover: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s linear;
}

/* login */
.login-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.login {
  padding: 30px;
  max-width: 400px;
  width: 100%;
  background: var(--background-color-container);
  box-shadow: 0 0 0 10px var(--background-color);
  text-align: center;
  border-radius: 50px;
}

.loginText {
  padding: 10px 0;
}

.input {
  width: 100%;
  height: 30px;
  appearance: none;
  border: 3px solid var(--border-color);
  line-height: 1;
  border-radius: 4px;
  padding: 4px;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: var(--border-color-hover);
}
/* Logout */
.logout-wrapper {
  display: flex;
  justify-content: flex-end;
}
.logoutButton {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 12px;
  width: 100px;
  cursor: pointer;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 30px;
  transition: all 0.3s linear;
  display: block;
  margin-top: 0em;
}
.logoutButton:hover {
  background-color: var(--background-color);
  border-color: var(--border-color-hover);
}

/* TODO'S PAGE  */
.todos {
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background: var(--background-color-container);
  box-shadow: 0 0 0 10px var(--text-color);
  white-space: nowrap;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  width: 100%;
}

.todos h2 {
  color: var(--text-color-accent);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin: 0;
  font-weight: 200;
}

.todoslist {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.todoslist li {
  border-bottom: 1px solid var(--text-color);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
}

.todoslist label {
  flex: 1;
  cursor: pointer;
  color: var(--text-color-accent);
}

.todoslist input {
  display: none;
}

.todoslist input + label:before {
  content: "⬜️";
  margin-right: 10px;
}

.todoslist input:checked + label:before {
  content: "✅";
}

.new-todos {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.new-todos input {
  padding: 12px;
  outline: 0;
  border: 1px solid var(--border-color);
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.nametodos {
  max-width: 200px;
}

.hide {
  display: none;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 12px;
  width: 100px;
  cursor: pointer;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 30px;
  transition: all 0.3s linear;
}

.button:hover {
  background-color: var(--background-color);
  border-color: var(--border-color-hover);
}
